# string format

In [1]:
str = "{1} {0} {2}".format('Python','Programming','Language')
print(str)

Programming Python Language

In [2]:
str1 = "{2} {0} {1}".format('Python','Programming','Language')
print(str1)

Language Python Programming

In [3]:
str2 = "{2} {1} {0}".format('Python','Programming','Language')
print(str2)

Language Programming Python

In [7]:
str1 = "{a} {e} {f}".format(a='Python',f='Programming',e='Language')
print(str1)

Python Language Programming

# Python List

In [8]:
list1 = ['abcd',345,523,"tgds",53.87]
list2 = [232,"yui"]

In [9]:
print(list1)

['abcd', 345, 523, 'tgds', 53.87]

In [10]:
print(list2 + list1)

[232, 'yui', 'abcd', 345, 523, 'tgds', 53.87]

In [11]:
print(2*list2)

[232, 'yui', 232, 'yui']

In [14]:
str = input("enter any sequence :")
l = str.split()
print(l)

enter any sequence :1 2 4 5 6 7 8 90
['1', '2', '4', '5', '6', '7', '8', '90']

In [ ]:
str1 = input("enter any sequence :")
l1 = str1.split()
print(l1)

In [15]:
str2 = input("enter any sequence :")
l2 = str2.split("o")
print(l2)

enter any sequence :1234o2321o2o2o2o44o
['1234', '2321', '2', '2', '2', '44', '']

In [16]:
num = int(input("enter numbers :"))

enter numbers :344

# tuple

In [18]:
tuple1 = ('abcd',455,'g',4556,'tyhg')
tuple2 = (345,5654,6545)
print(tuple1)

('abcd', 455, 'g', 4556, 'tyhg')

In [19]:
print(tuple2[2])

6545

In [20]:
print(tuple1[0:4])

('abcd', 455, 'g', 4556)

In [21]:
print(tuple1[0:5])

('abcd', 455, 'g', 4556, 'tyhg')

In [22]:
print(tuple1[0:0])

()

In [23]:
print(tuple1[0:-1])

('abcd', 455, 'g', 4556)

In [24]:
print(tuple1[2:-2])

('g',)

In [25]:
print(tuple1 +tuple2)

('abcd', 455, 'g', 4556, 'tyhg', 345, 5654, 6545)

In [26]:
print(tuple2 + tuple1)

(345, 5654, 6545, 'abcd', 455, 'g', 4556, 'tyhg')

In [27]:
print(tuple1[1:-2])

(455, 'g')

In [28]:
print(tuple1[2:-1])

('g', 4556)

In [29]:
print(tuple1[-2:2])

()

In [ ]:
#tuples are immutable so cant change the value like  tuple1[2] = "tyh"

# Disctionary

In [30]:
disc1 ={}
disc1['one'] = "this is python"
disc1[2] = "this is java"

disc2 = {'names':"rhoit","id":'tfbfb','dept':'tech'}

In [31]:
print(disc1)
print(disc2)

{'one': 'this is python', 2: 'this is java'}
{'names': 'rhoit', 'id': 'tfbfb', 'dept': 'tech'}

In [32]:
print(disc1.keys())
print(disc2.values())

dict_keys(['one', 2])
dict_values(['rhoit', 'tfbfb', 'tech'])

In [33]:
disc2['age'] = 18
disc2['dept'] = "cse"   # disctionary update the value because it mmutable
print(disc2)

{'names': 'rhoit', 'id': 'tfbfb', 'dept': 'cse', 'age': 18}

# Divide the int value

In [34]:
a = 12
b = 12/4
print(b)
print(type(b))
c = 12//4
print(c)
print(type(c))

3.0
<class 'float'>
3
<class 'int'>

In [35]:
f = a*c
print(f)
type(f)
e = b*c
print(e)
type(e)

36
9.0

float

In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [36]:
for i in range(1,10):  # for i in range(start,end,diffrance)
    print(i)

1
2
3
4
5
6
7
8
9

In [37]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [38]:
for i in range(10,0,-1):  
    print(i)

10
9
8
7
6
5
4
3
2
1

In [9]:
s = """i am kishan"""
print(s)
type(s)

i am kishan

str

In [10]:
"hiii"     #  """(triple court) are use to multiline comment also 
a = 10
print(a)

10

In [14]:
"""hii what"""       # its comment so it not print

def sum(num):
    """hii what is num"""      # in triple qouts,that are docstring because of it write in funtion,class or module so it print.
    return 2*num

print(sum.__doc__)              # docstring access by __doc__

20

In [15]:
print(sum(10))

20

In [20]:
a,b,c = 1,2
print(a,b)

ValueError: not enough values to unpack (expected 3, got 2)

In [27]:
a = 0b1010   #binary literal
b = 100      #decimal literal
c = 0o310   #octal literaL
d = 0x12c  #hexadecimal litral

abc,cdf = 12.34,3.4e2   #float literal
 

print(a,b,c,d)

print(abc,cdf)

10 100 200 300
12.34 340.0

In [1]:
food = None   #special type of litral
drink = "pepesi"  #string type of litrals

def x(y):
    if y == drink:
        print(drink)
    else:
        print(food)
        
x(food)

None

In [4]:
a = 10
b = "102"
c = 23.5

d = a + c    # implicite conversiom
print(d)

b = int(b)   # explicite conversion because of use the int() , float() etc. functions
print(b)

33.5
102

In [8]:
eval('2+4')

6

In [11]:
x1 = 5
y1 = 5
x2 = 'hello'
y2 = 'hello'
x3 = [1,2,3]
y3 = [1,2,3]

print(x1 is y1)   #identity oprator 
print(x2 is not y2)  #identity oprator 
print(x3 is y3)   #identity oprator  answer is false becuase of list are mutable so we can change value in one list so it reflect in second list also so its not assign in same address.
print(id(x3))
print(id(y3))

True
False
False
1757191526848
1757191402368

In [4]:
x = "Hello world"
y = (1,2,3,4)
z = {1:'a',2:'b'}

print("H" in x)  #membership oprator
print(1 not in y)
print(1 in z)
print('a' in z)  # its flase becuase of its value not a key

True
False
True
False

In [5]:
a =2
print(id(a))
print(id(2))

1324907456848
1324907456848

In [6]:
def std(*name):                        # arbitrary function ,it use to when dont know the how many parameter values
    for nam in name:
        print("hello",nam)
std('fdfv','rfrf','rfgrf',4)

hello fdfv
hello rfrf
hello rfgrf
hello 4

In [8]:
def std(*name):                        # arbitrary function ,it use to when dont know the how many parameter values
        print("hello",name)
std('fdfv','rfrf','rfgrf',4)
std(1,2,3)

hello ('fdfv', 'rfrf', 'rfgrf', 4)
hello (1, 2, 3)

In [2]:
sqr = lambda x: x**2      #it is lambda function its single line funcation which take multiple argument but have a single expression and result will store in variable.

print(sqr(2))

4

In [15]:
ml = [1,2,3,4,5,5,6,7,8,9,10]

nl = list(filter(lambda x:x%2 == 0,ml))     # filter function takes argument as function and list and result to print the elements which follow the condition of function in a new list.
nl1 = list(filter(lambda x:x**2 == x ,ml))
print(nl)
print(nl1)

[2, 4, 6, 8, 10]
[2]

In [18]:
ml = [1,2,3,4,5,5,6,7,8,9,10]

nl = list(map(lambda x:x%2 == 0,ml))     # map function takes argument as function and list and result to print the new modify elements using of function in a new list.

nl1 = list(map(lambda x:x**2,ml))
print(nl)
print(nl1)

[False, True, False, True, False, False, True, False, True, False, True]
[1, 4, 9, 16, 25, 25, 36, 49, 64, 81, 100]

In [22]:
x = 10      #itd show error becuase we can,t assign value in local variable in function
y = 20
def foo():
    print(y)
    x = x*2
    print(x)
    
print(x)
foo()

10
20

UnboundLocalError: local variable 'x' referenced before assignment

In [20]:
x = 10


def foo():
    global x    #use the global variable value use the global keyword when variable name is same in globle and local
    x = x*2
    print(x)
    
    
print(x)
foo()

10
20

In [27]:
def foo():
    z = 10 
    print(z)
    
print(z)     # its show error becuase of not define the value in global but he cant access value to local varible in global

NameError: name 'z' is not defined

In [6]:
def too():
    u = 20
    def foo():
        nonlocal u         #in a nested function use the nonlocal keyword to use assign value to nonlocal variable to and modify the value of same name variable of global variable
        u = 10 
        print(u)
    
    foo()
    print(u)
    
too()

10
10

In [7]:
def too():
    u = 20
    def foo():
        global u         
        u = 10 
        print(u)
    
    foo()
    print(u)
    
too()

10
20